@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter-Regular'),
    url('../fonts/inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Inter-Light'),
    url('../fonts/inter/Inter-Light.woff2') format('woff2'),
    url('../fonts/inter/Inter-Light.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter-Medium'),
    url('../fonts/inter/Inter-Medium.woff2') format('woff2'),
    url('../fonts/inter/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Inter-SemiBold'),
    url('../fonts/inter/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/inter/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Inter-ExtraBold'),
    url('../fonts/inter/Inter-ExtraBold.woff2') format('woff2'),
    url('../fonts/inter/Inter-ExtraBold.woff') format('woff');
}
